@import url(style/variables.css);
@import url(style/base.css);
@import url(style/components/Card.css);
@import url(style/imagesizes.css);
@import url(style/components/Navbar.css);
@import url(style/components/Progressbar.css);
@import url(style/utils.css);
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:wght@100&family=Source+Serif+4:wght@200&display=swap");

h1 {
  color: black;
  font-weight: bolder;
  font-family: "Source Serif 4", monospace;
}
