@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:wght@100&family=Source+Serif+4:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Cultive Mono", monospace;
  margin: 2rem;
  padding: 5px;
  background-color: #eeeeee;
  text-align: center;
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 2rem;
  border: 5px solid #eeeeee;
}

h1 {
  color: black;
  font-weight: bolder;
  font-family: "Source Serif 4", monospace;
}

h2 {
  color: maroon;
  text-decoration: underline;
  margin-top: 0rem;
}

header nav,
footer {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

header nav a,
footer a {
  background-color: #eff6ff;
  color: black;
  text-decoration: none;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0.7rem;
  border-radius: 2rem;
}

.general-info {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.general-info article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.general-info article img {
  height: auto;
  max-width: 30%;
  border-radius: 2rem;
}

.general-info article div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 0px;
}

.social article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 2px #eeeeee solid;
  border-radius: 2rem;
  max-width: 50%;
  height: auto;
}

.social img {
  text-align: center;
  max-width: 20%;
  max-height: auto;
  margin: 1.5rem;
}

.biocv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.biocv div {
  display: flex;
}

.progress ul {
  padding-left: 10px;
}

.progress ul li {
  margin: 0px;
  border-radius: 2rem;
  color: white;
}

.high-end-tier {
  width: 100%;
  background-image: linear-gradient(to right, white 0%, green 100%);
}

.high-tier {
  width: 75%;
  background-image: linear-gradient(to right, white 0%, yellow 100%);
}

.mid-tier {
  background-image: linear-gradient(to right, white 0%, orange 100%);
  width: 50%;
}

.low-tier {
  width: 25%;
  background-image: linear-gradient(to right, white 0%, red 100%);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
